body {
    background-color:#F6F5FB !important;
    font-family: 'Noto Sans', sans-serif;
}

.buttonOrder {
    border-color: #D1D1D1;
    background-color: #FFFFFF;
    color: #2A3342;
    border: #2A3342 1px solid;
}

.buttonOrder:hover {
    background-color: #2A3342;
}

.hoverNav {
    color: #2A3342 !important;
}

.hoverNav:hover {
    background-color: #2A3342;
    color: #FFFFFF !important;
}

/* CARDS */

.card {
    height: 418px;
    width: 330px;
}

.card-text {
    width: 215px;
    height: 60px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.cardbuy {
    display: flex;
    justify-content: center;
    margin-bottom: 33px;
}

.card button {
    width: 202px;
    height: 60px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    background-color: #2A3342;
    color: #F6F5FB;
    border-radius: 10px;
}

.card:hover #cardBuy {
    display: block;
}

.hidden {
    display: none;
}

/* MODALS */

#fade, #modal {
    opacity: 1;
    pointer-events: all;
}

#modal.hide, #fade.hide {
    opacity: 0;
    pointer-events: none;
}

#fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(240, 235, 235, 0.4);
    z-index: 5;
}

#modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    z-index: 10;
    width: 671px;
    height: 581px;
    border-radius: 20px;
    padding: 25px 30px;
}

.modal-close {
    cursor: pointer;
    float: right;
    width: 20px;
}

.modal-header {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 49px;
    font-size: 35px;
}

.modal-header h2 {
    text-align: center;
    justify-content: center;
}

.modal-body {
    text-align: center;
    color: #000000;
    font-weight: 300;
    font-size: 20px;
    line-height: 40px;
    margin: 0 30px;
}

.modal-body img {
    margin-top: 20px;
}

@media (max-width:480px) {
    .card-group {
        width: 90%;
        padding: 0;
        margin: auto;
    }
    .card {
        height: 468px;
        margin: 0 !important;
        width: 90%;
    }

    .card-text {
        width: 80%;
    }

    #modal {
        width: 80%;
        height: auto;
    }

    .modal-body {
        font-size: 85%;
    }

    .modal-header{
        margin-top: 10px;
        margin-bottom: 19px;
    }

    .modal-body img {
        width: 50%;
    }
}